html, body, #root {
  min-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.app-cont{
  margin-top: 4rem;
  margin-left: 3rem;
  text-align: center;
}

.index{
  text-align: center;
  margin-top: 3rem;
}

.index button{
  gap:1rem;
  font-size: 1rem;

}

/* Headings / misc */
.heading {
  font-size: 1.5rem;
  color: rgb(121, 229, 248);
  left: 50px;
  top: 30px;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.summary{
  color: aliceblue;
  font-size: 1.3rem;
}